body {
    padding: 10px;
    background-color: rgb(241, 234, 234);
    color: black;
}

.container {
    height: 450px;
    width: 300px;
    border: 2px solid black;
    padding: 4px;
    border-radius: 15px;
    margin: 20px;
    background-color: thistle;
}

.con_group {
    display: flex;
    flex-wrap: wrap;

}

.container_about {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.price {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 22px;
    font-weight: bold; 
}


.conteiner_comment {
    height: auto;
    width: 500px;
    word-break:break-all;
    border: 1px solid black;
    padding: 7px;
    border-radius: 20px;
    margin: 10px;
    background-color: thistle;
}

.author {
    font-size: 16px;
    font-weight: bold;
}

.text_comment {
    font-size: 14px;
    font-weight: lighter;
}

.active {
    color: green;
    font-weight: bold;
}

.deactive {
    color: red;
    font-weight: bold;
}

.active:hover {
    color: black;
}

.deactive:hover {
    color: black;
}

.action_button {
    display: flex;
    flex-wrap: wrap;   
}
    
.btn {
    float: left;
}



