{% extends "auctions/layout.html" %}

{% block body %}
<h4>Active listings in category {{ name }}</h4>
    <div class="con_group">   
    {% if auctions %}
        {% for auction in auctions %}
        
        <div class="container">
            <div class="name">{{ auction.name }}</div>
            <div class="container_about">{{ auction.about }}</div>
            <div class="price">{{ auction.price }}$</div>
            <div>Created {{ auction.created_date }}</div>
            <a href="{% url 'auction' auction.id %}">view details</a>
        </div>
        {% endfor %}
    {% else %}
        Oops... Auctions have not yet been created...
    {% endif %}
    </div>
{% endblock %}