{% extends "auctions/layout.html" %}

{% block body %}

<h2>Deactive Listings</h2>
    <div class="con_group">
{% if user.is_authenticated %}   
    {% if auctions %}
        {% for auction in auctions %}
        
        <div class="container">
            <div style="text-align: center;">{% if auction.image %} 
                <img src="{{ auction.image.url }}" style="max-height:250px; max-width:290px; padding:2px;" alt="{{ auction.title_image }}">
                {% else %}
                {{ auction.title_image }}
                {% endif %}
                </div>
            <div class="name">{{ auction.name }}</div>
            <div class="container_about">{{ auction.about }}</div>
            <div>Created: {{ auction.created_date }}</div>
            <div>Status: {% if auction.status %}
                <a href="{% url 'index' %}" class="active"> Active</a>
                {% else %}
                <a href="{% url 'deactive' %}" class="deactive"> Deactive</a>
                {% endif %}
            </div>
            <a href="{% url 'auction' auction.id %}">view details</a>
        </div>
        {% endfor %}
    {% else %}
        Oops... Auctions have not yet been created...
    {% endif %}
    </div>
{% else %}
You must be logged in!
{% endif %}
{% endblock %}