{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Categories</h2>
    {% for category in categories_list %}
    <a href="{% url 'categorysearch' category  %}">{{ category }}</a>
    {% endfor %} 

<h2>Active Listings</h2>
    <div class="con_group">   
    {% if auctions %}
        {% for auction in auctions %}
        
        <div class="container">
            <div class="name">{{ auction.name }}</div>
            <div class="container_about">{{ auction.about }}</div>
            <div class="price">{{ auction.price }}$</div>
            <div>Created: {{ auction.created_date }}</div>
            <div>Status: {% if auction.status %}
                <div class="active">Active</div>
                {% else %}
                <div class="deactive">Deactive</div>
                {% endif %}
            </div>
            <a href="{% url 'auction' auction.id %}">view details</a>
        </div>
        {% endfor %}
    {% else %}
        Oops... Auctions have not yet been created...
    {% endif %}
    </div>
{% endblock %}